button {
  margin: 0 5px;
  padding: 10px 20px;
  border: 0;
  border-radius: 6px;
  color: #fff;
  background-color: #42b983;
  outline: none;
}
button:hover {
  background: #ffa07a;
  color: #000;
}
button:active {
  background: #66e4e4;
  color: #800080;
}
