body {
  background-color: #41b784;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #31515c;
  text-align: center;
  color: #fff;
}
.menu {
  border-radius: 10px;
  background-color: #fff;
}
table {
  width: 50%;
  margin: 0 auto;
}
